.container
  .songbooks
    %ul
      - @songbooks.each do |songbook|
        %li
          .name= songbook[:name]
          .info #{pluralize songbook[:new_tracks].size, 'new track', 'new tracks'}

          .tracks
            %ul
              - songbook[:new_tracks].each do |track|
                %li #{track.artist} – #{track.title}


